@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;

}

body{
    position: relative;
    font-family: 'Varela Round', sans-serif;
    background: url('../css/img/background.jpeg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: scroll;
}


header{
    align-items: center;
    justify-content: center;
    margin:0px;
    margin-bottom: 15px;

}
#logo{
    position: relative;  
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    height: 200px;
}
.fas.fa-user-circle{
    position:fixed;
     top: 5px;
    right: 10px;
    font-size: 35px;
    cursor: pointer;
}
.profile{
    position:fixed;
    top: 15px;
    right: 57px;
    font-size: 13px;
    cursor: pointer;
    font-weight: bold;
    color: brown;
}


.fas.fa-sign-out-alt{
    position: absolute;
    top: 10px;
    margin-left: 10px;
    font-size: 35px;
    cursor: pointer;
}
.log-out{
    position: absolute;
    top: 45px;
    margin-left: 5px;
    font-size: 15px;
    font-weight: bold;
}

.navbar-nav{
    margin: 0 auto;
}

.navbar {
    position: relative;
    margin: auto;
    margin-bottom: 15px !important;
}

.nav-link{
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 23px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding:2px;
    margin: 2px 5px 2px 5px;

}

a i{
    margin-left: 8px;
}
h4{
    display: block;
    margin: auto;
    margin-top: 15px !important;
    font-size: 38px;
    text-align: center;
    font-weight: bold;

}

h5{
    display: block;
    margin: auto;
    margin-top: 20px !important;
    margin-bottom: 7px!important;
    font-size: 27px;
    text-align: center;
}



.createAccount{
    position: relative;
    margin: 20px;
}

.form-label{
    float: right;
    margin-right: 5px;
}
.form-check{
    float: right;

}
.form-check-label{
    margin-right: 25px;
}
.btn.btn{
    float:initial;
    position: relative ;  
    display: block ;
    margin-left: auto ;
    margin-right: auto ;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
    background-color: rgb(164, 201, 117);
    padding: 9px 25px;
}
.btn.btn:hover{
    color: white;
}
.btn.btn:focus{
    outline: none;
}
.update{
    font-weight: bold;
    margin-bottom: 30px !important;
}


.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
[class*="col-"] {float:left;}


@media screen and (max-width: 850px){
          
    .nav-link{
        font-size: 19px;
    }
}
@media screen and (max-width: 750px){
        .nav-link{
        font-size: 17px;
       }
       h4{
            font-size: 30px;
        }
        h5{
            font-size: 23px;
        }
        .log-out{
            font-size: 12px;
        }
        
}

@media screen and (max-width: 650px){
    #logo{
        width: 280px;
        height: 180px;
    }
    h5{
        font-size: 20px;
    }
  
}



