@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;

}

body{
    position: relative;
    font-family: 'Varela Round', sans-serif;
    background: url('../css/img/background.jpeg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: scroll;

}

header{
    align-items: center;
    justify-content: center;
    margin:0px;
    margin-bottom: 15px;

}
#logo{
    position: relative;  
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    height: 200px;
}

.fas.fa-user-circle{
    position:fixed;
     top: 5px;
    right: 10px;
    font-size: 35px;
    cursor: pointer;
}
.profile{
    position:fixed;
    top: 15px;
    right: 57px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    color: brown;
}

.fas.fa-sign-out-alt{
    position: absolute;
    top: 10px;
    margin-left: 10px;
    font-size: 35px;
    cursor: pointer;
}
.log-out{
    position: absolute;
    top: 45px;
    margin-left: 5px;
    font-size: 15px;
    font-weight: bold;
}

h4{
    display: block;
    margin: auto;
    margin-top: 20px !important;
    font-size: 45px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;

}

.search-container {
    width: 30%;
    margin: 50px auto;
}
 .form-control {
    padding-left: 2.375rem;
}

 .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.btn.btn{
    background-color: rgb(164, 201, 117);
}
.btn.btn:focus{
    outline: none;

}

.table{
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgb(252, 227, 195);
}
.table-container{
    width: 65%;
    display: block;
    margin: auto;
}
th{
    font-weight: bold;
    font-size: 18px;

}

td,tr{
    text-align: center;
}
h5{
    font-size: 25px !important;
    font-weight: bold;
}
h6{
    font-size: 22px !important;
    color: brown;
}

td i{
    cursor: pointer;
    font-size: 250%; 
}




.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
[class*="col-"] {float:left;}



@media screen and (max-width: 750px){
        h4{
            font-size: 30px;
        }
       
        .btn{
            font-size: 18px;
        }
       .btnSearch{
            font-size: 18px;
       }

       h5{
        font-size: 22px !important;
        font-weight: bold;
      }
        h6{
        font-size: 19px !important;
        color: brown;
          }
       .search-container {
        width: 50%;
        margin: 40px auto;
     }
    .log-out{
        font-size: 12px;
    }
}


@media screen and (max-width: 650px){
    #logo{
        width: 260px;
        height: 170px;
    }
    h4{
        font-size: 27px;
        margin-top: 3px !important;

    }
    .btn{
        font-size: 16px;
    }
    .btnSearch{
        font-size: 16px;
   }
   
   .table-container{
    width: 90%;
    }
    h5{
        font-size: 20px !important;
        font-weight: bold;
    }
    h6{
        font-size: 17px !important;
        color: brown;
    }
}

@media screen and (max-width: 500px){
    .table-container{
        width: 100%;
    }
    
}




