@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;

}

body{
    position: relative;
    font-family: 'Varela Round', sans-serif;
    background: url('img/background.jpeg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: scroll;
}


header{
    align-items: center;
    justify-content: center;
    margin:0px;
    margin-bottom: 15px;

}
#logo{
    position: relative;  
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    height: 200px;
}
.fas.fa-share{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 35px;
    cursor: pointer;
}

h4{
    display: block;
    margin: auto;
    margin-top: 15px !important;
    font-size: 36px;
    text-align: center;
    font-weight: bold;

}

h5{
    display: block;
    margin: auto;
    margin-top: 15px !important;
    font-size: 34px;
    text-align: right;
    margin-right: 35px !important;
}
.createAccount{
    margin: 20px;
}
.wrongEmail{
    margin-top: 10px !important;
    margin-bottom: 17px!important;
    display: block;
    margin: auto;
    color: red;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}
.form-label{
    float: right;
    margin-right: 5px;
}
.form-check{
    float: right;

}
.form-check-label{
    margin-right: 25px;
}
.btn.btn{
    float: right;
    margin-top: 5px;
    margin-bottom: 20px;
    background-color: rgb(164, 201, 117);;
}
.btn.btn:hover{
    color: white;
}
.btn.btn:focus{
    outline: none;
}

.change{
    float:initial !important;
    position: relative !important;  
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
[class*="col-"] {float:left;}


@media screen and (max-width: 750px){
        h4{
            font-size: 30px;
        }
        h5{
            font-size: 26px;
        }
}

@media screen and (max-width: 650px){
    #logo{
        width: 280px;
        height: 180px;
    }
    .wrongEmail{
        font-size: 17px;
    }
    
}



