@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;

}

body{
    position: relative;
    font-family: 'Varela Round', sans-serif;
    background: url('background.jpeg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: scroll;
    
}


header{
    align-items: center;
    justify-content: center;
    margin:0px;
    margin-bottom: 15px;

}
#logo{
    position: relative;  
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    height: 200px;
}
.fas.fa-share{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 35px;
    cursor: pointer;
}
.back{
    position: absolute;
    right: 15px;
    top: 45px;
    font-size: 15px;
    font-weight: bold;
}
h4{
    display: block;
    margin: auto;
    margin-top: 15px !important;
    font-size: 38px;
    text-align: center;
    font-weight: bold;

}

h5{
    display: block;
    margin: auto;
    margin-top: 20px !important;
    margin-bottom: 7px!important;
    font-size: 27px;
    text-align: center;
}


.business-container{
    background-color: rgba(206, 131, 33, 0.3);
    display: block;
    margin:  0 auto ;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 10px !important;
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-radius: 5px;
    border: 1px rgba(122, 75, 14, 0.945); solid;

}

.business-name{
    padding-top: 23px;
    margin-top: 10px;
    margin-right: 10px;
    text-align: right;
    font-size: 23px;
    font-weight: bold;
    color: white;
}
img{
    margin-top: 20px;
}


.business-details{
    display: inline-block;
    position: relative;
    top: 10px;
    margin-top: 10px;
    text-align: right;
    font-size: 17px;
}
.business-address{
    display: block;
    position: relative;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: right;
    font-size: 15px;
    font-weight: bold;
}

.link-to.calender{
    position: relative;
    top: 10px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.link-to.Waze{
    position: relative;
    top: 10px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    cursor: pointer;

}

.link-to.phone{
    position: relative;
    top: 10px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.link-to.calender:hover{
    color: white;
}
.link-to.Waze:hover{
    color: white;
}
.link-to.phone:hover{
    color: white;
}

#clear{clear:both;}

@media screen and (max-width: 1250px){
    .business-details{
        font-size: 15px;
    }
    .business-address{
        font-size: 13px;
    }
}
@media screen and (max-width: 1000px){

    img{
        width:180px;
        height:110px;
    }
    .business-name{
        font-size: 20px;
    }
    .link-to.calender{
        font-size: 17px;
    }
    .link-to.Waze{
        font-size: 17px;
    }
    .link-to.phone{
        font-size: 17px;
    }
}

@media screen and (max-width: 780px){
    img{
        width:150px;
        height:100px;
    }
 
}

@media screen and (max-width: 650px){
    img{
        width:120px;
        height:80px;
    }
    .business-details{
        font-size: 13px;
    }
    .business-address{
        font-size: 11px;
    }
    .link-to.calender{
        font-size: 14px;
    }
    .link-to.Waze{
        font-size: 14px;
    }
    .link-to.phone{
        font-size: 14px;
    }
}
@media screen and (max-width: 600px){
    .business-details{
        font-size: 13px;
    }
    .business-address{
        font-size: 13px;
    }
    img{
        width:100px;
        height:70px;
    }
}
@media screen and (max-width: 480px){

    img{
        width:130px;
        height:85px;
    }
    .business-details{
        font-size: 16px;
    }
    .business-address{
        font-size: 15px;
    }
 
}







